<h1>Profile Pic Upload</h1>
<p>Share your amazing self with the world...</p>
<form action="/" method="POST" enctype="multipart/form-data">
    <input type="file" name="inputFile">
    <input type="submit" class="btn btn-primary">
</form>